.breadcrumbButton {
    &[data-disabled] {
      border: none;
      cursor: pointer;
      background-color: transparent;
    }

    @media (max-width: $mantine-breakpoint-xs) {
      font-size: 12px;
    }

}