<div class="full-height d-flex flex-column align-items-center">
    <div class="d-flex align-items-center justify-content-center flex-column page-container p-0">
        <floating-navbar></floating-navbar>
        <h3 class="fs-2 fw-normal text-center" style="margin-top: calc(4rem + 74px); font-weight: 400;">
            Seus <b>melhores momentos</b> <br>
            aparecem aqui :)
        </h3>
        <span class="fs-4" style="color: var(--gray-6);">
            Clique em uma das fotos e veja de pertinho.
        </span>
        <gallery class="event-gallery-photos" photos="photos" ng-if="!loading"></gallery>
        <floating-actions></floating-actions>
    </div>
</div>