<div class="full-height d-flex flex-column align-items-center" style="height: 100vh;">
    <div class="d-flex align-items-center justify-content-center flex-column page-container p-0">
        <floating-navbar></floating-navbar>
        <div style="position: absolute; z-index: 999; top: 8rem; height: 300px; position: absolute; z-index: 999; top: 8rem; height: 300px; display: flex; align-items: center; justify-content: center; width: 100%; background: #f8f9fa;">
            <div class="d-flex align-items-center justify-content-center" style="padding: 4px; border: 1px solid red; border-radius: 50%;">
                <img src="{{ mainImage }}" style="width: 224px; height: 224px; border-radius: 50%; object-fit: cover;"></img>
            </div>
        </div>

        <h3 class="fs-2 fw-normal text-center" style="margin-top: calc(4rem + 365px); font-weight: 400;">
            Seus <b>melhores momentos</b> <br>
            aparecem aqui :)
        </h3>
        <span class="fs-4" style="color: var(--gray-6);">
            Clique em uma das fotos e veja de pertinho.
        </span>
        <gallery class="event-gallery-photos" photos="photos" ng-if="!loading"></gallery>
        <floating-actions></floating-actions>
    </div>
</div>