.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: none !important;
}

.centered-modal .modal-dialog {
    height: 100vh;
    display: flex;
    align-items: center;
}

.modal-header {
    border-radius: 8px 8px 0 0;
}

.modal-content {
    border-radius: 8px;
}

.modal, .modal .fade.show {
    transition: opacity .5s linear;
}