.ds__radius--8 {
    border-radius: 8px;
}

.ds__cursor--pointer {
    cursor: pointer;
}

.ds-input__icon {
    position: absolute;
    top: 8px;
    right: 8px;
}

.ds-input__icon__container {
    position: relative;
}

.ds-input__icon__container input {
    padding-right: 32px;
}
