.home-carousel {
    min-height: 232px;
    max-height: 232px;
}

.home-carousel img {
    height: 232px;
    min-width: 350px;
    object-fit: cover;
}

.home-carousel img {
    transition: all 2s;
}

.home-carousel img {
    position: absolute !important;
    margin: 0 auto !important;
}