.carouselContainer, .carouselImage {
    height: 208px;

    @media (min-height: 720px) {
        height: 300px;
    }

    @media (min-height: 1000px) {
        height: 500px;
    }
}

.carouselContainer {
    margin-top: 1rem;
}