.carouselContainer, .carouselImage {
    height: 208px;

    @media (min-height: 720px) {
        height: 240px;
    }

    @media (min-height: 800px) {
        height: 260px;
    }

    @media (min-height: 1000px) {
        height: 445px;
    }
}

.carouselContainer {
    margin-top: 1rem;
}