.fixedActions {
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 100%;
}

.fixedActionsInfo {
    background: rgba(41, 41, 41, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
