<div class="page page-center container-sm" style="height: 100vh;">
    <div class="d-flex align-items-center justify-content-center flex-column">
        <!-- Directive: event-banner -->
        <div class="mt-6 w-50 rounded-3 d-flex align-items-center justify-content-center" style="background: var(--red-9); max-height: 232px;">
            <img class="rounded-3" src="https://storage.googleapis.com/portal-da-promo/L01_card_promocaobudweiser-melevalollapalooza-20231677620126368.webp" alt="Imagem Inicial" style="height: 232px; min-width: 350px;">
        </div>

        <!-- Directive: carousel -->
        <div class="carousel mt-6 w-50 rounded-3 d-flex align-items-center justify-content-center" style="max-height: 232px;">
            <img class="w-100 rounded-3" src="https://www.cnet.com/a/img/resize/76c825b09b4e3367d2a1e06321278e6403a4c60e/hub/2021/08/31/d56dec80-f6de-42ae-9e2a-dad48e1f3d13/gettyimages-1331974820.jpg?auto=webp&fit=crop&height=675&width=1200" alt="" style="height: 232px; min-width: 350px; object-fit: cover;">
        </div>

        <!-- Directive: home phrase -->
        <p class="text-center lh-1 mt-6 mb-0" style="font-size: 32px; color: var(--red-8);">As fotos do rolê ficaram <br>ótimas!</p>

        <!-- Directive: home actions -->
        <div class="home-actions mt-6 w-50 d-flex align-items-center justify-content-center" style="height: 26vh;">
            <div class="rectangle rounded-4 rounded-bottom-0 w-100 d-flex align-items-start justify-content-center h-100 position-relative" style="min-height: 180px; background: var(--gray-1); border: 1px solid var(--gray-2); min-width: 350px;">
                <button class="btn btn-danger btn-lg position-absolute w-50 rounded-4" style="top: -1rem; min-width: 300px; height: 72px; font-weight: 400; background-color: var(--red-9)">
                    <face-id-icon></face-id-icon> Me encontre!
                </button>
                <a class="text-uppercase mt-7 cursor-pointer" style="color: var(--gray-6); text-decoration: underline;">
                    Ir para a <b>Galeria do Evento</b>
                </a>
            </div>
        </div>
    </div>
</div>