.page-container {
    max-width: 690px !important;
    padding: 1rem;
}

.full-height {
    height: 100vh;
}

.inactive-link {
    color: var(--gray-4) !important;
}

@media all and (min-width:320px) and (max-width:500px) {
	.floating-navbar, .gallery-container, .floating-actions, .event-gallery-photo-container {
		max-width: 97vw !important;
	}
    
    .event-gallery-photos-container {
        max-height: 26vh !important;
    }

    .floating-navbar--button {
        min-width: 48px !important;
        height: 48px !important;
    }
}
