.page-container {
  max-width: 690px !important;
  padding: 1rem;
}

.event-gallery-photo-container {
  padding-left: 0;
  padding-right: 0;
}

.lazy-loading {
  background-color: #e0e0e0;
}

.full-height {
  height: 100vh;
}

.inactive-link {
  color: var(--gray-4) !important;
}

.active-link {
  color: var(--dark-9) !important;
}

.gallery-container {
  margin-top: 1.5rem;
}

@media all and (min-width: 320px) and (max-width: 500px)  {
  .floating-navbar,
  .gallery-container,
  .floating-actions,
  .event-gallery-photo-container {
    max-width: 97vw !important;
  }

  .event-gallery-photos-container {
    height: 26vh;
    margin-top: calc(2rem + 380px) !important;
  }

  .floating-navbar--button {
    min-width: 48px !important;
    height: 48px !important;
  }
}

.lazy-loading {
  animation: hintloading 2s ease-in-out 0s infinite reverse;
  -webkit-animation: hintloading 2s ease-in-out 0s infinite reverse;
}

@keyframes hintloading {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@-webkit-keyframes hintloading {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.dropdown-menu.dropdown-info {
    min-width: auto;
    left: -6px;
    width: 155px !important;
    height: 76px;

    background: rgba(41, 41, 41, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    border-radius: 8px;
}

.dropdown-info .dropdown-item {
    min-width: 100% !important;
    color: var(--gray-1) !important; font-size: 14px;
}
