.innerContent {
    height: 48px;
    width: 80%;
    min-width: 80%;

    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $mantine-breakpoint-sm) {
        & * {
            font-size: 12ipx;
        }

        min-width: 62%;
        width: 68%;
    }

    @media (min-width: $mantine-breakpoint-md) {
        min-width: 70%;
        width: 80%;
    }
}

.fixedNavbar {
    left: 50%;
    top: 0;
    width: 100%;
    z-index: 1000;
    position: fixed;
    transform: translateX(-50%);
    width: calc(47rem * var(--mantine-scale));

    @media (max-width: $mantine-breakpoint-sm) {
        max-width: 100vw;
    }
}