.innerContent {
    height: 48px;
    width: 80%;
    min-width: 80%;

    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $mantine-breakpoint-sm) {
        min-width: 65%;
        width: 65%;
    }
}

.fixedNavbar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 100%;
}