<div class="home-actions mt-6 w-50 d-flex align-items-center justify-content-center" style="height: 26vh;">
    <div class="rectangle rounded-4 rounded-bottom-0 w-100 d-flex align-items-start justify-content-center h-100 position-relative home-actions-container">
        <button class="btn btn-danger btn-lg position-absolute w-50 rounded-4 home-actions-button">
            <face-id-icon></face-id-icon> Me encontre!
        </button>
        <a class="text-uppercase mt-7 cursor-pointer home-actions-link">
            Ir para a <b>Galeria do Evento</b>
        </a>
    </div>
</div>