<div class="floating-actions w-50 d-flex align-items-center justify-content-center rounded-4" style="overflow: hidden; position: fixed; bottom: 2rem; border: 1px solid rgba(255, 255, 255, 0.2); z-index: 1;">
    <div class="d-flex align-items-center justify-content-center p-2 w-100" style="z-index: 9999;">
        <button class="btn btn-danger btn-lg w-100 rounded-4 floating-actions-button mr-2">
            <face-id-icon></face-id-icon> <span class="ml-2">Me encontre!</span>
        </button>
        <button ng-click="onReturnClick()" class="btn btn-gray rounded-4" style="background: var(--dark-0); min-width: 48px; height: 48px; stroke: none; border: 1px solid var(--dark-1);">
            <arrow-back-icon></arrow-back-icon>
        </button>
    </div>
    <div class="w-100 h-100" style="filter: blur(2px); position: absolute; background-color: rgba(41, 41, 41, 0.6);">

    </div>
</div>