.floating-actions {
  overflow: hidden;
  position: fixed;
  bottom: 2rem;
  z-index: 1;
  padding: 8px 10px;
}

.floating-actions-button--primary {
  min-width: 280px;
  height: 58px;
  font-weight: 400;
  background-color: var(--red-9);
}

.floating-actions-button--secondary {
    min-width: 300px;
    height: 58px;
    font-weight: 400;
    background-color: var(--red-9);
}

.floating-actions--background {
    position: absolute;
    background: rgba(41, 41, 41, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.2);
}


@media all and (min-width:320px) and (max-width:500px) {
    .floating-actions {
        bottom: 1rem;
    }
}