.photoContainer, .photo {
    transition: all 0.1s ease;
    -moz-transition: all 0.1s ease; 
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
  
    transition-delay: 0.1s ease;
    -moz-transition-delay: 0.1s ease;
    -webkit-transition-delay: 0.1s ease;
    -o-transition-delay: 0.1s ease;
}

.photoContainer {
    margin-top: 32px !important;
}

.photo {
    height: 580px;
}

.photoActions {
    @media (max-width: $mantine-breakpoint-xs) {
        display: flex;
        flex-direction: column;
    }
}

.photoActions > * {
    @media (max-width: $mantine-breakpoint-xs) {
        margin-inline: auto;
        width: 100% !important;
        padding: 8px;
        flex: 1;
    }
}
