<div class="floating-navbar p-3 w-100 d-flex align-items-center justify-content-center rounded-4 my-2 page-container">
    <button ng-click="onReturnClick()" class="btn btn-gray rounded-4 floating-navbar--button">
        <arrow-back-icon></arrow-back-icon>
    </button>
    <div class="w-100 d-flex align-items-center justify-content-center p-3 m-3 rounded-4 gap-2 navigation-items">
        <span ng-repeat="navigationItem in navigationComponents.navigation">
            <span ng-if="!$first" ng-class="{ 'inactive-link': !navigationItem.active }" > / </span>
            <a class="text-decoration-underline" ng-class="{ 'inactive-link': !navigationItem.active }">
                {{ navigationItem.label }}
            </a>
        </span>
    </div>
    <button class="btn btn-gray rounded-4 floating-navbar--button">
        <dots-vertical-icon></dots-vertical-icon>
    </button>
</div>