@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

html, body, #root {
	height: 100%;
	width: 100%;
}

.mantine-Modal-overlay {
    z-index: 9999;
}

.mantine-Modal-inner {
    z-index: 9999;
}


.mantine-Notifications-root {
    z-index: 99999;
}