.bannerContainer, .bannerImage {
    max-height: 190px;
    
    @media (min-height: $mantine-breakpoint-sm) {
        max-height: 232px;
    }

    @media (min-height: 1000px) {
        max-height: 400px;
    }
}